# Redshift Workshop

A notebook to connect to the Redshift Cluster.

In [1]:
# imports
import configparser
import psycopg2
import json
import boto3

In [2]:
# load params from file - DELETE after use
KEY = ''
SECRET = ''
DWH_IAM_ROLE_NAME = 'RedshiftDay-RedshiftRole-1DPRIKU7AH13E'
DWH_CLUSTER_IDENTIFIER = 'redshiftday'
DWH_DB_NAME = 'dev'
DWH_DB_USER = 'fabryandrea'
DWH_DB_PASSWORD = 'Krumplifozelek1'
DWH_DB_PORT = 5439

### 1. Create IAM client and get roleARN for IAM role 'RedshiftDay-RedshiftRole-1DPRIKU7AH13E' cluster to access S3

In [3]:
# create iam role
iam = boto3.client('iam',
                        region_name="us-east-1",
                        aws_access_key_id=KEY,
                        aws_secret_access_key=SECRET
                  )

# get roleArn
roleArn = iam.get_role(RoleName=DWH_IAM_ROLE_NAME)['Role']['Arn']

print(roleArn)

arn:aws:iam::434948855337:role/RedshiftDay-RedshiftRole-1DPRIKU7AH13E

### 2. Get DWH_IAM_ROLE_NAME to Redshift Cluster Created with Cloudformation Template Stack

In [4]:
# create client for redshift
redshift = boto3.client('redshift',
                       region_name='us-east-1',
                       aws_access_key_id=KEY,
                       aws_secret_access_key=SECRET
                       )

In [5]:
### get endpoint and ARN AFTER cluster is available
myClusterProps = redshift.describe_clusters(ClusterIdentifier=DWH_CLUSTER_IDENTIFIER)['Clusters'][0]
DWH_ENDPOINT = myClusterProps['Endpoint']['Address']
DWH_ROLE_ARN = myClusterProps['IamRoles'][0]['IamRoleArn']

### 3. Connect to Cluster

In [73]:
conn = psycopg2.connect("host={} dbname={} user={} password={} port={}".format(DWH_ENDPOINT, DWH_DB_NAME, 
                                                                               DWH_DB_USER, DWH_DB_PASSWORD, 
                                                                               DWH_DB_PORT))
cur = conn.cursor()

### 4. Create Tables

In [20]:
# create tables using tables.sql
customer_table_create = ("""
CREATE TABLE customer (
  c_custkey int8 NOT NULL                                      ,
  c_name varchar(25) NOT NULL                                  ,
  c_address varchar(40) NOT NULL                               ,
  c_nationkey int4 NOT NULL                                    ,
  c_phone char(15) NOT NULL                                    ,
  c_acctbal numeric(12,2) NOT NULL                             ,
  c_mktsegment char(10) NOT NULL                               ,
  c_comment varchar(117) NOT NULL)
  DISTSTYLE ALL; 
""")

cur.execute(customer_table_create)
conn.commit()

In [21]:
lineitem_table_create = ("""
CREATE TABLE lineitem (
  l_orderkey int8 NOT NULL DISTKEY                               ,
  l_partkey int8 NOT NULL                                        ,
  l_suppkey int4 NOT NULL                                        ,
  l_linenumber int4 NOT NULL                                     ,
  l_quantity numeric(12,2) NOT NULL                              ,
  l_extendedprice numeric(12,2) NOT NULL                         ,
  l_discount numeric(12,2) NOT NULL                              ,
  l_tax numeric(12,2) NOT NULL                                   ,
  l_returnflag char(1) NOT NULL                                  ,
  l_linestatus char(1) NOT NULL                                  ,
  l_shipdate date NOT NULL SORTKEY                               ,
  l_yearmonth char(7) NOT NULL                                   ,
  l_commitdate date NOT NULL                                     ,
  l_receiptdate date NOT NULL                                    ,
  l_shipinstruct char(25) NOT NULL                               ,
  l_shipmode char(10) NOT NULL                                   ,
  l_comment varchar(44) NOT NULL);
""")

cur.execute(lineitem_table_create)
conn.commit()

In [22]:
nation_table_create = ("""
CREATE TABLE nation (
  n_nationkey int4 NOT NULL                                      ,
  n_name char(25) NOT NULL                                       ,
  n_regionkey int4 NOT NULL                                      ,
  n_comment varchar(152) NOT NULL)
  DISTSTYLE ALL;
""")

cur.execute(nation_table_create)
conn.commit()

In [23]:
orders_table_create = ("""
CREATE TABLE orders (
  o_orderkey int8 NOT NULL DISTKEY                               ,
  o_custkey int8 NOT NULL                                        ,
  o_orderstatus char(1) NOT NULL                                 ,
  o_totalprice numeric(12,2) NOT NULL                            ,
  o_orderdate date NOT NULL SORTKEY                              ,
  o_orderpriority char(15) NOT NULL                              ,
  o_clerk char(15) NOT NULL                                      ,
  o_shippriority int4 NOT NULL                                   ,
  o_comment varchar(79) NOT NULL                                 ,
  o_yearmonth char(8) NOT NULL );
""")

cur.execute(orders_table_create)
conn.commit()

In [33]:
part_table_create = ("""
CREATE TABLE part (
  p_partkey int8 NOT NULL DISTKEY                                ,
  p_name varchar(55) NOT NULL                                    ,
  p_mfgr char(25) NOT NULL                                       ,
  p_brand char(10) NOT NULL                                      ,
  p_type varchar(25) NOT NULL                                    ,
  p_size int4 NOT NULL                                           ,
  p_container char(10) NOT NULL                                  ,
  p_retailprice numeric(12,2) NOT NULL                           ,
  p_comment varchar(23) NOT NULL);
""")

cur.execute(part_table_create)
conn.commit()

In [24]:
partsupp_table_create = ("""
CREATE TABLE partsupp (
  ps_partkey int8 NOT NULL DISTKEY                               ,
  ps_suppkey int4 NOT NULL                                       ,
  ps_availqty int4 NOT NULL                                      ,
  ps_supplycost numeric(12,2) NOT NULL                           ,
  ps_comment varchar(199) NOT NULL);
""")

cur.execute(partsupp_table_create)
conn.commit()

In [25]:
region_table_create = ("""
CREATE TABLE region (
  r_regionkey int4 NOT NULL                                      ,
  r_name char(25) NOT NULL                                       ,
  r_comment varchar(152) NOT NULL)
 DISTSTYLE ALL; 
""")

cur.execute(region_table_create)
conn.commit()

In [26]:
supplier_table_create = ("""
CREATE TABLE supplier (
  s_suppkey int4 NOT NULL                                        ,
  s_name char(25) NOT NULL                                       ,
  s_address varchar(40) NOT NULL                                 ,
  s_nationkey int4 NOT NULL                                      ,
  s_phone char(15) NOT NULL                                      ,
  s_acctbal numeric(12,2) NOT NULL                               ,
  s_comment varchar(101) NOT NULL
)
 DISTSTYLE ALL;
""")

cur.execute(supplier_table_create)
conn.commit()

### 5. Load Data from S3 buckets

In [27]:
# load data into dev datawarehouse using copy.sql
customer_copy = ("""
    COPY customer FROM 's3://reinvent-hass/redshiftdata/customer/customer_'
    iam_role '{}'
    gzip delimiter '|'
    IGNOREHEADER 1 ;
""").format(roleArn)

cur.execute(customer_copy)
conn.commit()

In [28]:
lineitem_copy = ("""
    COPY lineitem FROM 's3://reinvent-hass/redshiftdata/lab/lineitem/lineitem_'
    iam_role '{}'
    gzip delimiter '|'
    IGNOREHEADER 1 ;
""").format(roleArn)

cur.execute(lineitem_copy)
conn.commit()

In [29]:
nation_copy = ("""
    COPY nation FROM 's3://reinvent-hass/redshiftdata/nation/nation_'
    iam_role '{}'
    gzip delimiter '|'
    IGNOREHEADER 1 ;
""").format(roleArn)

cur.execute(nation_copy)
conn.commit()

In [38]:
order_copy = ("""
    COPY orders FROM 's3://reinvent-hass/redshiftdata/lab/orders/orders_'
    iam_role '{}'
    gzip delimiter '|'
    IGNOREHEADER 1 ;
""").format(roleArn)

cur.execute(order_copy)
conn.commit()

In [34]:
part_copy = ("""
    COPY part FROM 's3://reinvent-hass/redshiftdata/part/part_'
    iam_role '{}'
    gzip delimiter '|'
    IGNOREHEADER 1 ;
""").format(roleArn)

cur.execute(part_copy)
conn.commit()

In [35]:
partsupp_copy = ("""
    COPY partsupp FROM 's3://reinvent-hass/redshiftdata/partsupp/partsupp_'
    iam_role '{}'
    gzip delimiter '|'
    IGNOREHEADER 1 ;
""").format(roleArn)

cur.execute(partsupp_copy)
conn.commit()

In [36]:
region_copy = ("""
    COPY region FROM 's3://reinvent-hass/redshiftdata/region/region_'
    iam_role '{}'
    gzip delimiter '|'
    IGNOREHEADER 1 ;
""").format(roleArn)

cur.execute(region_copy)
conn.commit()

In [37]:
supplier_copy = ("""
    COPY supplier FROM 's3://reinvent-hass/redshiftdata/supplier/supplier_'
    iam_role '{}'
    gzip delimiter '|'
    IGNOREHEADER 1 ;
""").format(roleArn)

cur.execute(supplier_copy)
conn.commit()

### 6. Check Tables

In [40]:
check_tables_query = ("""
select "table", encoded, diststyle, sortkey1, skew_sortkey1, skew_rows
from svv_table_info
order by 1;
""")

cur.execute(check_tables_query)
record = cur.fetchall()
record

[('customer', 'Y', 'ALL', None, None, None),
 ('lineitem',
  'Y',
  'KEY(l_orderkey)',
  'l_shipdate',
  Decimal('3.33'),
  Decimal('1.00')),
 ('nation', 'Y', 'ALL', None, None, None),
 ('orders',
  'Y',
  'KEY(o_orderkey)',
  'o_orderdate',
  Decimal('5.15'),
  Decimal('1.00')),
 ('part', 'Y', 'KEY(p_partkey)', None, None, Decimal('1.00')),
 ('partsupp', 'Y', 'KEY(ps_partkey)', None, None, Decimal('1.00')),
 ('redshift_auto_health_check_1510717', 'Y', 'EVEN', None, None, None),
 ('region', 'Y', 'ALL', None, None, None),
 ('supplier', 'Y', 'ALL', None, None, None)]

### 7. Accessing Table Metadata

In [8]:
# get details on the number of nodes and slices
nodes_query = ("""
SELECT * FROM STV_SLICES;
""")

cur.execute(nodes_query)
record = cur.fetchall()
record

[(1, 2, 0), (1, 3, 1), (0, 0, 0), (0, 1, 1)]

In [10]:
# retrieve table definition details
table_definition_query = ("""
SELECT "schema", "table", diststyle, sortkey1, encoded, tbl_rows FROM SVV_TABLE_INFO
WHERE "schema" = 'public';
""")

cur.execute(table_definition_query)
record = cur.fetchall()
record

[('public', 'supplier', 'ALL', None, 'Y', Decimal('1000000')),
 ('public', 'customer', 'ALL', None, 'Y', Decimal('15000000')),
 ('public', 'region', 'ALL', None, 'Y', Decimal('5')),
 ('public', 'partsupp', 'KEY(ps_partkey)', None, 'Y', Decimal('80000000')),
 ('public',
  'lineitem',
  'KEY(l_orderkey)',
  'l_shipdate',
  'Y',
  Decimal('250921587')),
 ('public', 'nation', 'ALL', None, 'Y', Decimal('25')),
 ('public', 'part', 'KEY(p_partkey)', None, 'Y', Decimal('20000000')),
 ('public',
  'orders',
  'KEY(o_orderkey)',
  'o_orderdate',
  'Y',
  Decimal('58922329'))]

### 8. Quering Amazon Redshift

In [12]:
# lowest supply in Africa
lowest_cost_query = ("""
select s_acctbal, s_name, n_name, p_partkey, p_mfgr, s_address, s_phone, s_comment
from
part, supplier, partsupp, nation, region
where
    p_partkey = ps_partkey
    and s_suppkey = ps_suppkey
    and p_size = 5
    and p_type like '%TIN'
    and s_nationkey = n_nationkey
    and n_regionkey = r_regionkey
    and r_name = 'AFRICA'
    and ps_supplycost = (
        select
            min(ps_supplycost)
                from partsupp, supplier, nation, region
                where
                    p_partkey = ps_partkey
                    and s_suppkey = ps_suppkey
                    and s_nationkey = n_nationkey
                    and n_regionkey = r_regionkey
                    and r_name = 'AFRICA')
order by
s_acctbal desc,
n_name,
s_name,
p_partkey
limit 100;
""")

cur.execute(lowest_cost_query)
record = cur.fetchall()
record[0]

(Decimal('9999.79'),
 'Supplier#000722871       ',
 'MOROCCO                  ',
 8222854,
 'Manufacturer#1           ',
 'LbE wuB9WRGYkmClMcroCLHReXHf ZDYxnw',
 '25-519-939-9174',
 ' are along the carefully regular deposits. furiously even asymptotes boost blithely eve')

In [14]:
record[2]

(Decimal('9999.31'),
 'Supplier#000288711       ',
 'MOZAMBIQUE               ',
 1288710,
 'Manufacturer#5           ',
 'AkOP365vhvxCMT',
 '26-959-957-9870',
 'uests are carefully. blithely special packages nag carefully')

In [30]:
# summarizing lineitems
agg_query = ("""
SELECT   l_returnflag, 
         l_linestatus, 
         Sum(l_quantity)                                                                     AS sum_qty,
         Sum(l_extendedprice)                                                                AS sum_base_price,
         Sum(l_extendedprice                * (1 - l_discount))::decimal(38,2)               AS sum_disc_price,
         sum(l_extendedprice::decimal(38,2) * (1 - l_discount) * (1 + l_tax))::decimal(38,2) AS sum_charge,
         avg(l_quantity)                                                                     AS avg_qty,
         avg(l_extendedprice)                                                                AS avg_price,
         avg(l_discount)                                                                     AS avg_disc,
         count(*)                                                                            AS count_order
FROM     lineitem 
WHERE    l_shipdate <= cast ( date '1998-12-01' - interval '66 days' AS date ) 
GROUP BY l_returnflag, 
         l_linestatus 
ORDER BY l_returnflag, 
         l_linestatus;
""")

cur.execute(agg_query)
record = cur.fetchall()
record

[('N',
  'O',
  Decimal('6282167762.00'),
  Decimal('9420174466600.30'),
  Decimal('8949182874374.16'),
  Decimal('9307160431906.65'),
  Decimal('25.49'),
  Decimal('38236.62'),
  Decimal('0.04'),
  246365233)]

In [80]:
# join customers to their orders
join_query = ("""
SELECT   l_orderkey, 
         SUM(l_extendedprice * (1 - l_discount)) AS revenue, 
         o_orderdate, 
         o_shippriority 
FROM     customer, 
         orders, 
         lineitem 
WHERE    c_mktsegment = 'HOUSEHOLD' 
AND      c_custkey = o_custkey 
AND      l_orderkey = o_orderkey 
AND      o_orderdate < DATE '1995-03-02' 
AND      l_shipdate >  DATE '1995-03-02' 
GROUP BY l_orderkey, 
         o_orderdate, 
         o_shippriority 
ORDER BY revenue DESC, 
         o_orderdate
LIMIT 10;
""")

cur.execute(join_query)
record = cur.fetchall()
record

[]

In [39]:
ord2cust_query = ("""
SELECT   * 
FROM     customer
WHERE    c_mktsegment = 'HOUSEHOLD' 
limit 10;
""")

cur.execute(ord2cust_query)
record = cur.fetchall()
record[0]

(456350,
 'Customer#000456350',
 'IaJsxLLWvYQ4Y6dBeWgtBiNM7P5KdzEvu',
 21,
 '31-987-899-8935',
 Decimal('627.58'),
 'HOUSEHOLD ',
 ' platelets. ironic theodolites need to haggle according to the silent, special packages.')

### 9. Query Performance and Troubleshooting

In [40]:
# query STL table

check_query_history = ("""
select query, TRIM(querytxt) as sqlquery
from stl_query
order by query desc 
limit 5;
""")

cur.execute(check_query_history)
record = cur.fetchall()
record[0]

(570, "select * from STV_FDISK_STATS where name = 'blocks_to_backup'")

In [42]:
record

[(570, "select * from STV_FDISK_STATS where name = 'blocks_to_backup'"),
 (569,
  "select count(distinct id) from pg_catalog.stv_tbl_perm where temp = false and db_id > 1 and id not in (select oid from pg_class where relname like 'redshift_auto_health_check_%' and relnamespace in (select oid from pg_namespace where nspname='pg_internal'))"),
 (568,
  "select node_num,value from stv_fdisk_stats where name='blocks_allocated_total'"),
 (567, 'Select * from pg_internal.redshift_auto_health_check_1510717'),
 (566, "SELECT * FROM customer WHERE c_mktsegment = 'HOUSEHOLD' limit 10;")]

In [45]:
# Find Top Queries by Duration, Number of reads, Memory to Disk
check_top_queries = ("""
SELECT querytxt, MAX(CPU_TIME) AS cpu_time_micro, MAX(ROWS) AS ROWS, MAX(BLOCKS_READ)AS blocks_read, 
MAX(blocks_to_disk)as MB_to_Disk, SUM(run_time/1000000)as time_sec, SUM((run_time/1000000)/60)as time_minutes  FROM STL_QUERY AS Q 
JOIN STL_QUERY_METRICS AS M
ON Q.query = M.query 
GROUP BY querytxt
ORDER BY time_sec desc;
""")

cur.execute(check_top_queries)
record = cur.fetchall()
record[0:3]

[(" COPY lineitem FROM 's3://reinvent-hass/redshiftdata/lab/lineitem/lineitem_' iam_role '' gzip delimiter '|' IGNOREHEADER 1 ;                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                    ",
  1282500000,
  250872732,
  0,
  36358,
  5576,
  91),
 (" COPY partsupp FROM 's3://reinvent-hass/redshiftdata/partsupp/partsupp_' iam_role '' gzip delimiter '|' IGNOREHEADER 1 ;                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        ",
  353910000,
  79860882,
  0,
  -1,
  1200,
  19),
 (" COPY orders FROM 's3://reinvent-hass/redshiftdata/lab/orders/orders_' iam_role '' gzip delimiter '|' IGNOREHEADER 1 ;                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                          ",
  234940000,
  58922329,
  0,
  5912,
  932,
  14)]

In [46]:
# get ID of most recent query
get_id = ("""
select query, trim(querytxt) as sqlquery
from stl_query
where label not in ('metrics','health')
order by query desc limit 40;
""")

cur.execute(get_id)
record = cur.fetchall()
record[0:3]

[(582,
  'SELECT querytxt, MAX(CPU_TIME) AS cpu_time_micro, MAX(ROWS) AS ROWS, MAX(BLOCKS_READ)AS blocks_read, MAX(blocks_to_disk)as MB_to_Disk, SUM(run_time/1000000)as time_sec, SUM((run_time/1000000)/60)as time_minutes FROM STL_QUERY AS Q JOIN STL_QUERY_METRICS AS M ON Q.query = M.query GROUP BY querytxt ORDER BY time_sec desc;'),
 (577,
  'select query, TRIM(querytxt) as sqlquery from stl_query order by query desc limit 5;'),
 (576,
  'select query, TRIM(querytxt) as sqlquery from stl_query order by query desc limit 5;')]

In [47]:
# troubleshoot query id 576
troubleshoot_id = ("""
select query, segment, step, max(rows), min(rows),
case when sum(rows) > 0
then ((cast(max(rows) -min(rows) as float)*count(rows))/sum(rows))
else 0 end
from svl_query_report
where query = 577
group by query, segment, step
order by segment, step;
""")

cur.execute(troubleshoot_id)
record = cur.fetchall()
record[0:3]

[(577, 0, 0, 0, 0, 0.0), (577, 0, 1, 0, 0, 0.0), (577, 0, 2, 0, 0, 0.0)]

### 10. Data Lake Integration: Create External Tables

In [50]:
# query external tables
external_tables_query = ("""
SELECT s.schemaname, databasename, tablename, location, input_format FROM SVV_EXTERNAL_SCHEMAS AS S
JOIN SVV_EXTERNAL_TABLES AS T ON S.schemaname = T.schemaname;
""")

cur.execute(external_tables_query)
record = cur.fetchall()
record

[]

returns 0 rows because we haven't created it yet

In [51]:
# create external tables
external_tables_create = ("""
    create external schema spectrum
    from data catalog
    database 'spectrum_db'
    iam_role '{}'
    ;
""").format(roleArn)

cur.execute(external_tables_create)
conn.commit()

In [52]:
# query external tables
external_tables_query = ("""
SELECT s.schemaname, databasename, tablename, location, input_format FROM SVV_EXTERNAL_SCHEMAS AS S
JOIN SVV_EXTERNAL_TABLES AS T ON S.schemaname = T.schemaname;
""")

cur.execute(external_tables_query)
record = cur.fetchall()
record

[('spectrum',
  'spectrum_db',
  'lineitem',
  's3://reinvent-hass/historical-parquet/lineitem/',
  'org.apache.hadoop.hive.ql.io.parquet.MapredParquetInputFormat'),
 ('spectrum',
  'spectrum_db',
  'orders',
  's3://reinvent-hass/historical-parquet/orders/',
  'org.apache.hadoop.hive.ql.io.parquet.MapredParquetInputFormat')]

In [54]:
# query partitions
partitions_query = ("""
SELECT schemaname, tablename, values, location FROM 
SVV_EXTERNAL_PARTITIONS;
""")

cur.execute(partitions_query)
record = cur.fetchall()
record[0:4]

[('spectrum',
  'lineitem',
  '["1992-01"]',
  's3://reinvent-hass/historical-parquet/lineitem/l_yearmonth=1992-01/'),
 ('spectrum',
  'lineitem',
  '["1992-02"]',
  's3://reinvent-hass/historical-parquet/lineitem/l_yearmonth=1992-02/'),
 ('spectrum',
  'lineitem',
  '["1992-03"]',
  's3://reinvent-hass/historical-parquet/lineitem/l_yearmonth=1992-03/'),
 ('spectrum',
  'lineitem',
  '["1992-04"]',
  's3://reinvent-hass/historical-parquet/lineitem/l_yearmonth=1992-04/')]

### 11. Query External Tables with Data Warehouse Tables

In [55]:
# check Redshift for cold data - table orders - should be 0
cold_query = ("""
select count(*), o_yearmonth from orders
GROUP BY o_yearmonth 
HAVING o_yearmonth < '1996-01'
ORDER BY o_yearmonth;
""")

cur.execute(cold_query)
record = cur.fetchall()
record

[]

In [59]:
# check Redshift for cold data - lineaitem - should be 0
cold_query2 = ("""
select count(*), l_yearmonth from lineitem
GROUP BY l_yearmonth 
HAVING l_yearmonth < '1996-01'
ORDER BY l_yearmonth;
""")

cur.execute(cold_query2)
record = cur.fetchall()
record

[]

In [61]:
# check S3 for cold data - table orders - should be full
cold_S3_query = ("""
select count(*), o_yearmonth from spectrum.orders
GROUP BY o_yearmonth 
HAVING o_yearmonth < '1996-01'
ORDER BY o_yearmonth;
""")

cur.execute(cold_S3_query)
record = cur.fetchall()
record[0:4]

[(1932789, '1992-01'),
 (1806307, '1992-02'),
 (1930727, '1992-03'),
 (1869426, '1992-04')]

In [62]:
# check S3 for cold data - lineitem - should be full
cold_S3_query2 = ("""
select count(*), l_yearmonth from spectrum.lineitem
GROUP BY l_yearmonth 
HAVING l_yearmonth < '1996-01'
ORDER BY l_yearmonth;
""")

cur.execute(cold_S3_query2)
record = cur.fetchall()
record[0:4]

[(958726, '1992-01'),
 (2690170, '1992-02'),
 (4794764, '1992-03'),
 (6520179, '1992-04')]

In [63]:
# revenue based on discount applied
revenue_query = ("""
SELECT (l_extendedprice * l_discount) as revenue
FROM spectrum.lineitem
   WHERE l_yearmonth <= '1993-01'
AND l_discount between 0.04 - 0.01 and 0.04 + 0.01
   AND l_quantity < 24;
""")

cur.execute(revenue_query)
record = cur.fetchall()
record[0:4]

[(441.7525,), (440.5833,), (812.934,), (203.808,)]

drop_table = ("""
DROP VIEW if exists vw_orders;
""")

cur.execute(drop_table)
conn.commit()

In [75]:
# create view object to use - orders
orders_view_create = ("""
CREATE VIEW vw_orders as 
select o_orderkey, o_custkey, o_orderstatus, o_totalprice, o_orderdate, o_orderpriority, 
o_shippriority, o_yearmonth FROM public.orders
UNION ALL
select o_orderkey, o_custkey, o_orderstatus, o_totalprice, CAST(o_orderdate AS date) as o_orderdate, o_orderpriority,
o_shippriority, o_yearmonth from spectrum.orders 
with no schema binding;
""")

cur.execute(orders_view_create)
conn.commit()

In [76]:
# create view object to use - lineitem
lineitem_view_create = ("""
CREATE VIEW vw_lineitem as 
select  l_orderkey, l_partkey, l_suppkey,l_linenumber, l_quantity, l_discount, l_tax, l_returnflag, l_extendedprice, l_linestatus, l_shipdate, l_yearmonth, l_commitdate, l_receiptdate
FROM public.lineitem 
UNION ALL
select  l_orderkey, l_partkey, l_suppkey,l_linenumber, l_quantity , l_discount, l_tax,  l_returnflag, l_extendedprice, l_linestatus, CAST(l_shipdate AS date) as l_shipdate,  l_yearmonth, CAST(l_commitdate AS date) as l_commitdate, CAST(l_receiptdate AS date) as l_receiptdate 
FROM spectrum.lineitem 
with no schema binding;
""")

cur.execute(lineitem_view_create)
conn.commit()

In [77]:
# find total revenue in India & Indonesia by year - will take about 3 mins
ind_revenue_query = ("""
select
	supp_nation,
	cust_nation,
	l_year,
	sum(volume) as revenue
from
	(
		select
			n1.n_name as supp_nation,
			n2.n_name as cust_nation,
			extract(year from l_shipdate) as l_year,
			l_extendedprice * (1 - l_discount) as volume
		from
			supplier,
			vw_lineitem,
			vw_orders,
			customer,
			nation n1,
			nation n2
		where
			s_suppkey = l_suppkey
			and o_orderkey = l_orderkey
			and c_custkey = o_custkey
			and s_nationkey = n1.n_nationkey
			and c_nationkey = n2.n_nationkey
			and (
				(n1.n_name = 'INDIA' and n2.n_name = 'INDONESIA')
				or (n1.n_name = 'INDONESIA' and n2.n_name = 'INDIA')
			)
			and l_shipdate between date '1995-01-01' and date '1996-12-31'
	) as shipping
group by
	supp_nation,
	cust_nation,
	l_year
order by
	supp_nation,
	cust_nation,
	l_year;
""")

cur.execute(ind_revenue_query)
record = cur.fetchall()
record[0:4]

[('INDIA                    ',
  'INDONESIA                ',
  1995,
  5305615428.06398),
 ('INDIA                    ',
  'INDONESIA                ',
  1996,
  5312936406.8952),
 ('INDONESIA                ',
  'INDIA                    ',
  1995,
  5231314826.47451),
 ('INDONESIA                ',
  'INDIA                    ',
  1996,
  5254675170.80791)]

In [79]:
# join query that didn't work above... but with Redshift and S3
# now it's working - it didn't work above because Redshift no longer had the cold data
join_query = ("""
select
	l_orderkey,
	sum(l_extendedprice * (1 - l_discount)) as revenue,
	o_orderdate,
	o_shippriority
from
	customer,
	spectrum.orders,
	spectrum.lineitem
where
	c_mktsegment = 'HOUSEHOLD'
	and c_custkey = o_custkey
	and l_orderkey = o_orderkey
	and o_orderdate < date '1995-03-02'
	and l_shipdate > date '1995-03-02'
group by
	l_orderkey,
	o_orderdate,
	o_shippriority
order by
	revenue desc,
	o_orderdate
limit 10;
""")

cur.execute(join_query)
record = cur.fetchall()
record

[(501322081, 568600.7029, '1995-02-04', 0),
 (108122085, 495350.7867, '1995-02-09', 0),
 (327657316, 494510.7084, '1995-02-22', 0),
 (139528640, 488871.3442, '1995-02-27', 0),
 (320381856, 488540.043, '1995-02-02', 0),
 (110804800, 476338.6362, '1995-02-27', 0),
 (84521600, 473649.0707, '1995-01-23', 0),
 (184745158, 469289.5138, '1995-02-13', 0),
 (493528132, 468488.9059, '1995-02-26', 0),
 (4080544, 467373.8368, '1995-02-22', 0)]

In [81]:
# summarizing lineitems
agg_query = ("""
select
	l_returnflag,
	l_linestatus,
	sum(l_quantity) as sum_qty,
	sum(l_extendedprice) as sum_base_price,
	sum(l_extendedprice * (1 - l_discount))::decimal(38,2) as sum_disc_price,
	sum(l_extendedprice::decimal(38,2) * (1 - l_discount) * (1 + l_tax))::decimal(38,2) as sum_charge,
	avg(l_quantity) as avg_qty,
	avg(l_extendedprice) as avg_price,
	avg(l_discount) as avg_disc,
	count(*) as count_order
from
	spectrum.lineitem
where
	l_yearmonth < '1994-06'
group by
	l_returnflag,
	l_linestatus
order by
	l_returnflag,
	l_linestatus;
""")

cur.execute(agg_query)
record = cur.fetchall()
record[0:4]

[('A',
  'F',
  2609850918.0,
  3913462493567.71,
  Decimal('3717775321347.18'),
  Decimal('3866493098948.72'),
  25.4995861210077,
  38236.5418644435,
  0.0500059499502516,
  102348756),
 ('R',
  'F',
  2610153818.0,
  3913819612775.54,
  Decimal('3718110804441.04'),
  Decimal('3866838493708.27'),
  25.5014403263554,
  38238.3737751485,
  0.0500037276805839,
  102353192)]

In [83]:
# run explain on it
explain_query = ("""
EXPLAIN (select
	l_returnflag,
	l_linestatus,
	sum(l_quantity) as sum_qty,
	sum(l_extendedprice) as sum_base_price,
	sum(l_extendedprice * (1 - l_discount))::decimal(38,2) as sum_disc_price,
	sum(l_extendedprice::decimal(38,2) * (1 - l_discount) * (1 + l_tax))::decimal(38,2) as sum_charge,
	avg(l_quantity) as avg_qty,
	avg(l_extendedprice) as avg_price,
	avg(l_discount) as avg_disc,
	count(*) as count_order
from
	spectrum.lineitem
where
	l_yearmonth < '1994-06'
group by
	l_returnflag,
	l_linestatus
order by
	l_returnflag,
	l_linestatus);
""")

cur.execute(explain_query)
record = cur.fetchall()
record

[('XN Merge  (cost=1001218607570.04..1001218607670.04 rows=40000 width=1104)',),
 ('  Merge Key: lineitem.derived_col1, lineitem.derived_col2',),
 ('  ->  XN Network  (cost=1001218607570.04..1001218607670.04 rows=40000 width=1104)',),
 ('        Send to leader',),
 ('        ->  XN Sort  (cost=1001218607570.04..1001218607670.04 rows=40000 width=1104)',),
 ('              Sort Key: lineitem.derived_col1, lineitem.derived_col2',),
 ('              ->  XN HashAggregate  (cost=1218603012.50..1218604512.50 rows=40000 width=1104)',),
 ('                    ->  XN Partition Loop  (cost=750000000.00..884603012.50 rows=13360000000 width=1104)',),
 ('                          ->  XN Seq Scan PartitionInfo of spectrum.lineitem  (cost=0.00..12.50 rows=334 width=0)',),
 ("                                Filter: ((l_yearmonth)::text < '1994-06'::text)",),
 ('                          ->  XN S3 Query Scan lineitem  (cost=375000000.00..375401800.00 rows=40000000 width=1104)',),
 ('                                ->  S3 HashAggregate  (cost=375000000.00..375001800.00 rows=40000000 width=1064)',),
 ('                                      ->  S3 Seq Scan spectrum.lineitem location:"s3://reinvent-hass/historical-parquet/lineitem/" format:PARQUET  (cost=0.00..100000000.00 rows=10000000000 width=1064)',)]

In [84]:
conn.close()